
@{
    ViewBag.Title = "Messages";
    List<EbuyNetwork.Models.Message> messages = ViewBag.messages;
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active">Messages <span class="label label-default">@ViewBag.item_count</span></li>
</ol>

<div class="pad-6"></div>


<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <form action="@Url.Action("Index", "Messages")" method="get" id="jsearchform">
                    <div class="col-lg-5">
                        <div class="form-label">Keyword</div>
                        <input type="text" class="form-control" name="keyword" value="@ViewBag.keyword" />
                    </div>


                    <div class="col-lg-2">
                        <div class="form-label">Start Date</div>
                        <input type="text" class="form-control" name="startDate" value="@ViewBag.startDate" id="startDate" />
                    </div>

                    <div class="col-lg-2">
                        <div class="form-label">End Date</div>
                        <input type="text" class="form-control" name="endDate" value="@ViewBag.endDate" id="endDate" />
                    </div>



                    <div class="col-lg-3">
                        <div class="form-label">&nbsp;</div>
                        <div class="btn btn-default" onclick="$('#jsearchform').submit();"><span class="glyphicon glyphicon-search"></span> Search</div>
                        <div class="btn btn-default" onclick="window.location='@Url.Action("Index","Messages")'">Reset filters</div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="no-more-tables">
    <table class="fullwidth table-bordered table-striped table-condensed cf">
        <thead class="cf">
            <tr>
                <th>Time</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (EbuyNetwork.Models.Message message in messages)
            {
                <tr>
                    <td data-title="Time">@message.addedTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td data-title="Message">
                        @{ 
                            String msg = "";

                            switch (message.messageType) {
                                case "PURCHASE":
                                    if (!message.ouser.firstName.Equals(""))
                                    {
                                        msg = message.ouser.firstName + " " + message.ouser.lastName + " has purchased your <a href=\"" + Url.Action("Index", "Item", new { item_id = message.item.id }) + "\">" + message.item.name + " <span class=\"glyphicon glyphicon-link\"></span></a>. The payment was Rs." + message.item.price.ToString("N2");
                                    }
                                    else
                                    {
                                        msg = "Buyer has purchased your <a href=\"" + Url.Action("Index", "Item", new { item_id = message.item.id }) + "\">" + message.item.name + " <span class=\"glyphicon glyphicon-link\"></span></a>. The payment was Rs." + message.item.price.ToString("N2");
                                    }
                                    break;
                                case "DELIVER":
                                    if (!message.ouser.firstName.Equals(""))
                                    {
                                        msg = "<a href=\"" + Url.Action("Index", "Item", new { item_id = message.item.id }) + "\">" + message.item.name + " <span class=\"glyphicon glyphicon-link\"></span></a> was delivered to " + message.ouser.firstName + " " + message.ouser.lastName + ". Shipping address is " + message.ouser.address;
                                    }
                                    else
                                    {
                                        msg = "<a href=\"" + Url.Action("Index", "Item", new { item_id = message.item.id }) + "\">" + message.item.name + " <span class=\"glyphicon glyphicon-link\"></span></a> was delivered to buyer.";
                                    }
                                    break;
                                case "CANCEL":

                                    if (!message.ouser.firstName.Equals("")) {
                                        msg = message.ouser.firstName + " " + message.ouser.lastName + " has cancelled the order of your <a href=\"" + Url.Action("Index", "Item", new { item_id = message.item.id }) + "\">" + message.item.name + " <span class=\"glyphicon glyphicon-link\"></span></a>";
                                    }
                                    else
                                    {
                                        msg = "Buyer has cancelled the order of your <a href=\"" + Url.Action("Index", "Item", new { item_id = message.item.id }) + "\">" + message.item.name + " <span class=\"glyphicon glyphicon-link\"></span></a>";
                                    }

                                    break;
                            }

                        }
                        @Html.Raw(msg)
                    </td>
                </tr>
            }

        </tbody>
    </table>

    @if (messages.Count == 0)
    {
        <div class="alert alert-danger">No result found to display</div>
    }

</div>

<ul class="pagination">
    @for (int i = 0; i < ViewBag.totalPages; i++)
    {
        string url = ViewBag.qurl;
        url = url.Replace("pageNumber", i.ToString());
        if (i == ViewBag.page)
        {
            <li class="active"><a href="@url">@(i + 1)</a></li>
        }
        else
        {
            <li><a href="@url">@(i + 1)</a></li>
        }

    }
</ul>


<script src="~/Scripts/Messages/Messages.js"></script>